/*----------------------------------------------------------------*/
/* Hoja de estilos                                                */
/*----------------------------------------------------------------*/
/* Fuente para toda la p치gina */

* {
    
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0px;    
}

/*Grid Container: es el elemento padre*/
.contenedor {
    display: grid;     
    /* Uso un atajo para definir tres filas / dos columnas */ 
    grid-template: 100px 1fr 100px / 400px 1fr;
                        /*filas columnas*/
    grid-template-areas: "enc enc"
                         "menu contenido"
                         "pie pie";
    grid-gap: 20px;
    gap: 10px; /* Separamos los items con Gap */
    height: 100vh;
    padding: 3px;
    /* pongo color al borde para identificar visualmente el contenedor  
    border-color: black;
    border-style: solid; */
}

/* Formato de la lista */
a,
a:focus, 
a:visited {
    color: #2E4F4F; 
    text-decoration: none;
}


/*lista sin vi침etas */
nav ul { list-style-type: none;
    }
nav ul li {
    background-color: #CBE4DE;
    /*Color de fondo del contenedor */
    padding: 5px;
    /*Coloco un espacio alrededor del conjunto de hijos*/
    border: 4px solid black;
    /* Borde del contenedor */
    border-radius: 10px;
    margin: 20px
    /* Espacio entre cada contenedor */
}

/* Cambia color cuando apoyo el mouse */
nav ul li:hover { background-color: #a0abab}

/*----------------------------------------------------------------*/
/* Defino el nombre y color de cada area del grid                 */
/*----------------------------------------------------------------*/
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img {
    height: 100px;
    width: 100px;
    border-radius: 0;
    margin-left: 20px;
}
.enc { 
    grid-area: enc;
    background-color: #2E4F4F;
    color: white;
    justify-items: center;
}

.menu {
    grid-area: menu;
    background-color: #0E8388;
    color: white;
    text-align: center;
}

.contenido {
    grid-area: contenido;
    background-color: #CBE4DE;
    color: #0E8388;
    padding: 0px 20px;
    font-size: 1.2em;
}

.pie {
    grid-area: pie;
    background-color: #2E4F4F;
    color: white;
    justify-self: auto;
}

/*----------------------------------------------------------------*/
/* Definimos la apariencia de cada item del grid                  */
/*----------------------------------------------------------------*/
.item {
    /* padding: auto;*/
    border-radius: 10px;
   /* width: 100%;*/
/*----------------------------------------------------------------*/
/* Agrego para centrar verticalmente     */
/*----------------------------------------------------------------*/
    display: flex;  
    align-items: center;
    justify-content: center;
}
/*----------------------------------------------------------------*/
/* Imagen con bordes redondeados, con limites de tama침o           */
/*----------------------------------------------------------------*/
.contenido img {
    border-radius: 30px;
    /*width: 100%;*/
    max-width:400px;
    border-radius: 10;
    margin-left: 20px;
  }

/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet (menos de 920px)     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 920px) {
    .contenedor {
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: 100px auto 60px / 30% auto;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas:
            "enc enc"
            "menu contenido"
            "pie pie";
    }
}

/*----------------------------------------------------------------*/
/* Imagen con bordes redondeados, con limites de tama침o           */
/*----------------------------------------------------------------*/
img {
    border-radius: 30px;
    width: 100%;
    max-width:400px;
  }

/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet (menos de 920px)     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 920px) {
    .contenedor {
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: 100px auto 60px / 30% auto;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas:
            "enc enc"
            "menu contenido"
            "pie pie";
    }
}
