/* Hoja de estilos */
/* Selector Universal */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Grid Container: es el elemento padre*/
.contenedor {
    display: grid;     
    /* Uso un atajo para definir tres filas / dos columnas */ 
    grid-template: 100px 1fr 100px / 400px 1fr;
                        /*filas columnas*/
    grid-template-areas: "enc enc"
                         "menu contenido"
                         "pie pie";
    grid-gap: 20px;
    gap: 10px; /* Separamos los items con Gap              */
    height: 100vh;
    padding: 3px;
    /* pongo color al borde para identificar visualmente el contenedor*/ 
    border-color: black;
    border-style: solid;
    
}
/* Definimos las diferentes clases*/ 
.enc {grid-area: enc; background-color:#2E4F4F;color:white}
.menu {grid-area: menu; background-color: #0E8388;color:white;}
.contenido { grid-area: contenido; background-color: #CBE4DE; color:#0E8388}
.pie { grid-area: pie; background-color: #2E4F4F;color: white}

/* Es lo que tienen en común todo el contenido del contenedor*/
.item {
    padding: auto;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    vertical-align: middle;       
}
/*codigo de referencia que usamos*/
/*.img {
        border-radius: 25px;
        width: 100%;
        max-width: 400px;
}*/
/* Centramos verticalmente
justify-items: center;     
place-items: center; /*Es la forma abreviada de align y justify'*/
