/*----------------------------------------------------------------*/
/* Hoja de estilos                                                */
/*----------------------------------------------------------------*/
/* Fuente para toda la página */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/*Grid Container: es el elemento padre*/
.contenedor {
    display: grid;     
    /* Uso un atajo para definir tres filas / dos columnas */ 
    grid-template: 100px 1fr 100px / 400px 1fr;
                        /*filas columnas*/
    grid-template-areas: "enc enc"
                         "menu contenido"
                         "pie pie";
    grid-gap: 20px;
    gap: 10px; /* Separamos los items con Gap              */
    height: 100vh;
    padding: 3px;
    /* pongo color al borde para identificar visualmente el contenedor*/ 
    border-color: black;
    border-style: solid;
}

/* Formato de la lista */
a:visited {color: #2E4F4F; }

li {
    background-color: #CBE4DE;
    /*Color de fondo del contenedor */
    padding: 10px;
    /*Coloco un espacio alrededor del conjunto de hijos*/
    border: 4px solid black;
    /* Borde del contenedor */
    border-radius: 10px;
    margin: 10px
    /* Espacio entre cada contenedor */
}

/* Cambia color cuando apoyo el mouse */
nav ul li:hover { background-color: #a0abab}

/*----------------------------------------------------------------*/
/* Defino el nombre y color de cada area del grid                 */
/*----------------------------------------------------------------*/
.enc {
    grid-area: enc;
    background-color: #2E4F4F;
    color: white;
    justify-self: auto;
}

.menu {
    grid-area: menu;
    background-color: #0E8388;
    color: white;
}

.contenido {
    grid-area: contenido;
    background-color: #CBE4DE;
    color: #0E8388;
}

.pie {
    grid-area: pie;
    background-color: #2E4F4F;
    color: white
}


/*----------------------------------------------------------------*/
/* Definimos la apariencia de cada item del grid                  */
/*----------------------------------------------------------------*/
.item {

    padding: auto;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    vertical-align: middle;       
}
/*codigo de referencia que usamos*/
/*.img {

        border-radius: 25px;
        width: 100%;
        max-width: 400px;
}*/
/* Centramos verticalmente
