<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../css/style.css'>
    <title>HERRAMIENTA</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<div class="contenedor">
    <!-- Contenido del Encabezado -->
    <div class="enc">
        <div class="logo">
            <img src="../images/Finanzmeb_2.jpg" alt="logo">
        </div> 
        <div class="lema">
            Tus finanzas personales organizadas
        </div> 
    </div>

    <!-- Contenido de item del menú de la izquierda-->
    <div class="menu item">
        <aside>
            <p>
            <nav class="menu item">

                    <ul>
                        <li><a href="../index.html">INICIO</a></li>
                        <li><a href="contacto.html">CONTACTO</a></li>
                        <li><a href="tutorial.html">TUTORIAL</a></li>
                        <li><a href="herramienta.html">HERRAMIENTA</a></li>
                        <li><a href="cotizaciones.html">COTIZACIONES</a></li>
                    </ul>
  
                </nav>
            </p>
        </aside>
    </div>

    <!-- Contenido principal-->
<div>
    <body>
        <div id="app">
          <h1>SALDO</h1>          
          <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Fecha</th>                    
                <th>Detalle</th>
                <th>Categoría</th>
                <th>Rubro</th>
                <th>Monto</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="registro in registros" :key="registro.codigo">
                  <td>{{ registro.codigo }}</td>
                  <td>{{ registro.fecha }}</td>
                  <td>{{ registro.detalle }}</td>
                  <td>{{ registro.categoria }}</td>
                  <td>{{ registro.rubro }}</td>
                  <td>{{ registro.monto }}</td>
                  <td>
                  <button @click="agregarAlSaldo(registro)">&nbsp;&nbsp;<b>+</b>&nbsp;&nbsp;</button>
                  <button @click="restarDelSaldo(registro)">&nbsp;&nbsp;<b>-</b>&nbsp;&nbsp;</button>                
                  </td>              
              </tr>
            </tbody>
          </table>
      
          <div v-if="mostrarSaldo">
            <h3>Registros en el saldo:</h3>
            <table>
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Fecha</th>                    
                  <th>Detalle</th>
                  <th>Categoría</th>
                  <th>Rubro</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in saldo" :key="item.codigo">
                  <td>{{ item.codigo }}</td>
                  <td>{{ item.fecha }}</td>
                  <td>{{ item.detalle }}</td>
                  <td>{{ item.categoria }}</td>
                  <td>{{ item.rubro }}</td>
                  <td>{{ item.monto }}</td>                   
                </tr>
              </tbody>
            </table>
          </div>
      
          <div v-if="!mostrarSaldo" class="contenedor-centrado">
            <button @click="obtenerSaldo">Mostrar saldo</button>
          </div>
      
          <!-- <div class="contenedor-centrado">
            <a href="herramienta.html">Menu principal Herramienta</a>
          </div> -->     
      
        </div>
      
        <script>
          //const URL = "http://127.0.0.1:5000/"
          const URL = "https://maurocampilongo.pythonanywhere.com/"
      
          const app = Vue.createApp({
            data() {
              return {
                registros: [],
                mostrarSaldo: false,
                saldo: [],
              };
            },
            created() {
              this.obtenerRegistros();
            },
            methods: {
              obtenerRegistros() {
                fetch(URL + 'registros')
                  .then(response => response.json())
                  .then(data => {
                    this.registros = data;
                  })
                  .catch(error => {
                    console.error(URL + 'registros', error);
                    alert('Error al obtener los registros.');
                  });
              },
              agregarAlSaldo(registro) {
                fetch(URL + 'saldo', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({
                    codigo: registro.codigo,
                    cantidad: 1, // Agregamos una unidad al saldo
                  }),
                })
                  .then(response => response.json())
                  .then(data => {
                    alert(data.message);
                  })
                  .catch(error => {
                    console.error('Error al agregar el registro al saldo:', error);
                    alert('Error al agregar el registro al saldo.');
                  });
              },
              restarDelSaldo(registro) {
                fetch(URL + 'saldo', {
                  method: 'DELETE',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({
                    codigo: registro.codigo,
                    cantidad: 1, // Restamos una unidad del saldo
                  }),
                })
                  .then(response => response.json())
                  .then(data => {
                    alert(data.message);
                  })
                  .catch(error => {
                    console.error('Error al restar el registro del saldo:', error);
                    alert('Error al restar el registro del saldo.');
                  });
              },
              obtenerSaldo() {
      
                fetch(URL + 'saldo')
                  .then(response => response.json())
                  .then(data => {
                    this.saldo = data;
                    this.mostrarSaldo = true;
                  })
                  .catch(error => {
                    console.error('Error al obtener el saldo:', error);
                    alert('Error al obtener el saldo.');
                  });
              },
            },
          });
      
          app.mount('#app');
        </script>
      </body>
    
</div>
    <!-- Contenido del pie -->
    <div class="pie item">
        <p>&copy; 2023 Finanzas Personales. Todos los derechos reservados.</p>
    </div>    
</html>